{% extends '::base.html.twig' %}

{% block title %}AppBundle:Institutions:index{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1>Все заведения</h1>
            <div class="container">
                <div class="row">
                    {% for Institution in Institution %}
                        <div class="col-xs-6 col-md-4">
                            <form action="{{ path('app_basic_details', {id: Institution.id}) }}">
                                <input type="image" width="100%"
                                       src="{{ asset('images/avatars/' ~ Institution.avatar) }}"
                                       value="{{ asset('images/avatars/' ~ Institution.avatar) }}"
                                       alt="{{ Institution.avatar }}">
                            </form>
                        </div>
                    {% else %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <h5>
            <a href="{{ path('fos_user_registration_register') }}">register</a> |
            <a href="{{ path('fos_user_security_login') }}">login</a>
        </h5>
    </div>

{% endblock %}
